<head>
    <meta charset="utf-8" />

    <title>LOGIN PAGE</title>
    <body style="background-color:rgb(14, 156, 233);">
    <h1 style="background-color:rgb(81, 188, 223);">WELCOME TO THE LOGIN PAGE</h1>
    <h3 style="background-color:rgb(81, 188, 223);">PLEASE ENTER THE FOLLOWING DETAILS</h3>
</head>

<style>
    h1 {text-align: center;}
    h3 {text-align: center;}
    form {text-align:center;}
</style>

<body>
<form action="/check" method="Post">

<h4><u>ENTER THE USERNAME:</u></h4>
<input type="text" name='username'/>
<br />

<h4><u>ENTER THE PASSWORD:</u></h4>
<input type="text" name="password" />
<br />
<br />
<br />
<input type="submit"/>
</form>
{{data}}

</body>
</html>