<head>
    <meta charset="utf-8" />
    <title>SUCCESS PAGE</title>
    <body style="background-color:rgb(14, 156, 233);">
    <h1 style="background-color:rgb(81, 188, 223);">LOGIN SUCCESSFUL</h1>
    <h3 style="background-color:rgb(81, 188, 223);">WELCOME TO THE SERIES RECOMMENDATION SYSTEM</h3>

</head>

<style>
    h1 {text-align: center;}
    h3 {text-align: center;}
    form {text-align:center;}
</style>

<body>

<form action="/recommend" method="Post">

<h4><u>ENTER A SERIES NAME:</u></h4>
<input type="text" name='series'/>
<br />
<br />
<br />
<input type="submit" />
</form>
{{data}}

</body>
</html>